*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
  line-height: normal;
  box-sizing: content-box;
  font-family: 'Pompiere', cursive;
}

body, #root {
  position: relative;
  min-height: 100vh;
}
